/* univarsal selector */
*{
  margin: 0;
  padding: 0;
}
/* sens serif font */
$sns-srp: sans-serif;
/* body background color */
$body-bg-col: hwb(120 84% 1%);
body {
  background-color: $body-bg-col;
  font-family: $sns-srp;
}
/* absolute position */
$abs: absolute;
/* center var */

$cntr: center;
/* full border */
$full-border: 1px solid black;
/* absolute position */
$abs: absolute;
/* ai name */
h1 {
  text-align: $cntr;
}
/* 10px margin-left */
$tnpx: 20px;
/* 300px width */
$threeHndrPx: 300px;
/* replay containner */
#reply-contaner {
  width: $threeHndrPx;
  height: 300px;
  border: $full-border;
  margin-left: $tnpx;
}

/* chat box */

#chat-box {
  width: 280px;
  margin-left: $tnpx;
  background-color: $body-bg-col;
}

#send-btn {
  width: 50px;
  height: 30px;
  position: $abs;
  left: 310px;
  right: 1px;
  top: 370px;
  bottom: 2px;
  background-color: hwb(89 49% 6%);
}